// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.scope-selector {
  display: block;
  z-index: 10000;
  position: absolute;
  background: white;
  border: 1px black;
}
